@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-100: #e7f0ff;
  --color-brand-600: #0d6efd;
  --color-brand-1100: #000031;

  /* Neutral Palette */
  --color-neutral-300: #f0f2f5;
  --color-neutral-600: #98a2b3;
  --color-neutral-700: #667185;
  --color-neutral-900: #344054;

  /* Text Colors */
  --color-primary: #1d2433;
  --color-secondary: #647995;

  /* Error Palette */
  --color-error-100: #fbeae9;
  --color-error-900: #9e0a05;

  /* Layout */
  --sidebar-width: 300px;
  --topbar-height: 134px;
}

body {
  color: var(--color-text-primary);
  font-family: Poppins, sans-serif;
}
